doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Palanquin')
    link(rel='stylesheet', href='/sweetalert2/dist/sweetalert2.min.css')
    script(src='/sweetalert2/dist/sweetalert2.min.js')

  body
  #pageTitle Welcome to<br>collaborative text editor
  #pageSubtitle Enter document's name:
  //- On submit redirects to /newDocumentId. Id is generated in /routes/index.js
  form#submitForm(method='POST' action=newDocumentId onsubmit='return validateForm()')
    input#documentName.form-control(type='text', placeholder='Document\'s name' name='documentName', autofocus)
    input#createDocumentBtn.form-control(type='submit', value='Create new document', name='createDocumentBtn')

  script.
    function validateForm() {
      let documentName = document.getElementById('documentName').value;
      if (documentName.trim() == '') {
        swal('Oops...', 'Document\'s name can\'t be empty!', 'error');
        document.getElementById('documentName').value = '';
        return false;
      }
    }
